$mainColor: #f0f0f0
$bgColor: #9883e5
$boxShedow: rgba(0, 0, 0, 0.1)
$grayBorder: #ccc

.dark-theme
    background: linear-gradient(to right, #06000e, #9883e5)
    color: #f0f0f0

$font: 'Roboto', sans

$padding-small: 10px
$padding-medium: 20px
$border-radius: 4px
$shadow-radius: 10px
